.galBackground {
    min-height: 430px;

    box-sizing: border-box;

    padding: 50px max(30px, calc((100% - 1030px) / 2));

    display: flex;
    flex-direction: column;
    justify-content: center;

    background:
        linear-gradient(
            to bottom,
          #1f1917,
            #463b35
        );

    color: rgb(255, 255, 255);

    position: relative;
}

.galBackground p {

    margin: 0 0 45px;

color: #aaa29c;

    font-size: 20px;

    line-height: 1.5;
}

.galBackground h3 {
    margin: 0 0 15px;

    font-size: 37px;

    font-weight: 300;

    text-transform: uppercase;

    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.galBackground img {
    width: calc(33.333% - 12px);

    height: 290px;

    object-fit: cover;

    margin: 6px;
    margin-bottom: 30px;

    background-color: #d5cec5;

    border: none;

    border-radius: 5px;

    transition: transform 0.2s ease;
}


/* .galBackground img:last-child {
    margin-right: 0;
} */


.galBackground img:hover {
    transform: scale(1.08);
}